/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* 
- font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- spacing (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --first-color: hsl(242, 48%, 52%);
  --second-color: hsl(186, 96%, 48%);
  --body-color: hsl(242, 42%, 91%);
  --title-color: hsl(242, 10%, 12%);
  --text-color: hsl(242, 10%, 38%);
  --border-color: hsl(242, 9%, 87%);
  /*========== font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.4rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;
  /*========== font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  font-weight: var(--font-regular);
}

body,
input,
button {
  font-family: var(--body-font);
}

input,
select,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  background-image: url("/images/wave_background.svg");
  width: 100%;
  min-height: 100vh;
  padding: 4.8rem 2.4rem;
  overflow: hidden;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/*=============== SHOPPING LIST ===============*/
/* .circle{
  position: absolute;
  width: 250px;
  height: 250px;
}

.circle1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #05D8F0;
  border-radius: 23% 77% 18% 82% / 71% 30% 70% 29% ;
}

.circle2 {
  top:0;
  left: 0;
  background: #9EF0F0;
  border-radius: 74% 26% 18% 82% / 71% 30% 70% 29%;
}

.circle3 {
  bottom: 0;
  right: 0;
  background: #BAE6FF;
  border-radius: 88% 12% 35% 65% / 44% 11% 89% 56%;
} */

.shopping-list {
  position: relative;
  /* 32 / 48 / 64 / 80 */
  width: 100%;
  max-width: 540px;
  background: linear-gradient(130deg,
      rgba(251, 251, 254, .6),
      rgba(251, 251, 254, .2));
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, .3),
    inset -2px -2px 1px rgba(251, 251, 254, .2);
  margin: 9.6rem auto 2.4rem;
  padding: 4.8rem 3.2rem 8rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
}

.shopping-list h1 {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
  gap: 1rem;
}

.shopping-list img {
  width: 35px;
}

.summary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4.8rem;
}

.summary span {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}
/* .list {
  overflow: hidden;
  background: linear-gradient(130deg,
      rgba(251, 251, 254, .6),
      rgba(251, 251, 254, .2));
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, .3),
    inset -2px -2px 1px rgba(251, 251, 254, .2);
  border-radius: 2.4rem;
  backdrop-filter: blur(10px);
}

.list-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-bottom: 1.2rem;
  line-height: 1;
}

.list-summary {
  font-size: var(--small-font-size);
  margin-bottom: 3.6rem;
}

.list-content {
  grid-template-columns: 2fr 1fr;
  row-gap: 1.6rem;
}

.input-group {
  position: relative;
}

.input-group label {
  position: absolute;
  left: 5%;
  top: .8rem;
  display: block;
  margin-left: auto;
  padding: 0 .25rem;
  font-size: var(--smaller-font-size);
  transition: .3s;
}

.product-input {
  width: 100%;
  height: 35px;
  border: 2px solid var(--border-color);
  border-radius: .5rem;
  padding-inline: .4rem;
} */

/*Input focus move up label*/
/* .product-input:focus+.input-label {
  top: -1.2rem;
  left: 0;
  color: var(--first-color);
} */

/*Input focus sticky top label*/
/* .product-input:not(:placeholder-shown).product-input:not(:focus) + .input-label {
  top: -1.2rem;
  left: 0;
  font-weight: var(--font-medium);
  color: var(--first-color);
} */

/*Input focus*/
/* .product-input:focus {
  border: 1px solid var(--first-color);
} */