/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* 
- font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- spacing (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --first-color: hsl(242, 48%, 52%);
  --second-color: hsl(186, 96%, 48%);
  --body-color: hsl(242, 42%, 91%);
  --title-color: hsl(242, 10%, 12%);
  --text-color: hsl(243, 10%, 38%);
  --border-color: hsl(242, 9%, 87%);
  /*========== font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.4rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;
  /*========== font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  font-weight: var(--font-regular);
}

body,
input,
button {
  font-family: var(--body-font);
}

input,
select,
button {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: 2.4rem;
  overflow: hidden;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}


/*=============== SHOPPING LIST ===============*/
/* 

.circle3 {
  bottom: 0;
  right: 0;
  background: #BAE6FF;
  border-radius: 88% 12% 35% 65% / 44% 11% 89% 56%;
} */

.circle {
  position: absolute;
  height: 250px;
  width: 250px;
}

.circle1 {
  top: 0;
  left: 0;
  background: var(--second-color);
  border-radius: 23% 77% 18% 82% / 71% 30% 70% 29%;
}

.circle2 {
  bottom: 0;
  right: 0;
  background: hsl(186, 73%, 78%);
  border-radius: 74% 26% 18% 82% / 71% 30% 70% 29%;
}

.shopping-list {
  position: relative;
  width: 100%;
  max-width: 360px;
  background: linear-gradient(130deg,
      hsla(240, 60%, 99%, 0.6),
      hsla(240, 60%, 99%, 0.2));
  box-shadow: inset 2px 2px 1px hsla(240, 60%, 99%, 0.3),
    inset -2px -2px 1px hsla(240, 60%, 99%, 0.2);
  margin: 3.2rem auto 2.4rem;
  padding: 4.8rem 3.2rem 8rem;
  border-radius: 1rem;
  backdrop-filter: blur(40px);
}

.shopping-list h1 {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
  gap: 1rem;
}

.shopping-list img {
  width: 35px;
}

.summary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3.2rem;
}

.summary span {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.add-item {
  grid-template-columns: 1fr 2fr;
  gap: .8rem;
}

.input-group {
  position: relative;
  font-size: var(--smaller-font-size);
}

.input-group:nth-child(2) {
  gap: .4rem;
}

.input-group select {
  padding: .8rem .2rem .8rem .4rem;
  font-size: var(--small-font-size);
}

.item-input {
  width: 100%;
  padding: .4rem .4rem 1.2rem .8rem;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
}

.item-input+label {
  position: absolute;
  left: 1rem;
  top: 1.6rem;
  cursor: text;
  transition: all .3s ease;
}

.item-input:focus+label {
  top: 2rem;
  font-size: var(--smaller-font-size);
}

.item-input:not(:placeholder-shown).item-input:not(:focus)+label {
  top: 2rem;
  font-size: var(--smaller-font-size);
}

/* ADD BUTTON */
.btn {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--first-color);
  color: var(--body-color);
  border-radius: .5rem;
  overflow: hidden;
}

.btn, .btn-txt, .btn-icon {
  transition: all .3s ease;
}

.btn-txt {
  transform: translateX(1rem);
  font-weight: var(--font-semi-bold);
}

.btn-icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  background-color: #3e3b99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon i {
  font-size: var(--h1-font-size);
}

.btn:hover {
  background-color: #3e3b99;
}

.btn:hover .btn-txt {
  color: transparent;
}

.btn:hover .btn-icon {
  width: 100%;
  transform: translateX(0);
}

.display-items {
  margin-top: 1.6rem;
}

.display-items li {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  padding-left: 3.2rem;
}

.display-items li::before {
  content: "";
  top: .5rem;
  left: .8rem;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: url("/images/uncheck.png");
  background-size: cover;
  background-position: center;
}

.display-items li:last-child {
  margin-bottom: 0;
}

.item-description span:first-child {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: capitalize;
}

.item-description p {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

/* style checked list */
.display-items li.checked,
.display-items .checked>.item-description span:first-child {
  color: hsl(244, 6%, 56%);
  text-decoration: line-through;
}

.display-items li.checked::before {
  background-image: url("/images/check.png");
}
 
/* DELETE BTN */
.item-edit a {
  transform: scale(1.2);
  color: var(--text-color);
  transition: all .2s linear;
}

.item-edit a:hover {
  transform: scale(1.5);
  color: hsl(0, 65%, 48%);
}

